footer {
  background-color: #3f51b5;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: var(--padding-footer);
  width: calc(100vw - var(--padding-footer) * 2);
  margin-top: 1rem;
}

.social-icons,
.footer-text {
  font-family: Roboto;
  font-size: 1rem;
}

.social-icons {
  display: flex;
  text-align: center;
  justify-content: center;
}

.social-icons img {
  margin-left: 0.5rem;
  width: 1.5rem;
}
