.banner {
  background-image: url('/assets/images/banner.jpeg');
  background-repeat: no-repeat;
  padding: var(--padding-home);
  width: calc(100vw - var(--padding-home) * 2);
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - var(--padding-home) * 2);
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

h1 {
  color: #3f51b5;
  font-family: Agbalumo;
  font-size: min(2.25rem, 78px);
  font-weight: 600;
  line-height: min(3.5rem, 97.5px);
  margin: 0.67rem 0;
  width: clamp(330px, 30vw, calc(100vw - var(--padding-home) * 2));
  @media (max-width: 600px) {
    text-align: center;
  }
}

.left-image {
  width: 50vw;
  @media (max-width: 600px) {
    height: 30vh;
  }
}

.banner-content img {
  max-width: 28.125rem;
  height: auto;
}
