.loading-placeholder {
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 1.5rem;

  p {
    font-size: 1.125rem;
    font-family: Agbalumo;
    color: #424242;
  }
}
